/* ####### main #######*/

$user_color: cyan;

.chat {
   background-color: #D9D9D9;
   padding: 1rem;
   flex: 1;

   &__card {
      display: flex;
      margin-bottom: 2rem;
   }
   &__avatar {
      border-radius: 50%;
      background-color: $user_color;

      height: 68px;
      width: 68px;

      display: flex;

      justify-content: center;
      align-items: center;
      
   }
   &__message {
      background-color: #fff;

      border-radius: 5px;
      border: 2px solid $user_color;

      padding: 1rem;
      margin-left: 1rem;

      flex: 1;
   }
}