/* # btn # */

.btn {
   background-color: #00A3ff;
   padding: .6em .8em;
   color: #fff;

   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

#features {
   margin-right: .3rem;
   border-radius: 5px;
}
